$primary-color: #9356dc;
$secondary-color: #ff70da;
$tertiary-color: #99e2d0;
$background-color: #f6f6f6;
$font-title: "Shrikhand", sans-serif;
$font-text: "Roboto", sans-serif;
$font-size-s: 18px;
$font-size-m: 20px;
$font-size-l: 25px;
$font-size-xl: 30px;
$intial-color: initial;
