footer {
  background-color: #353535;
  color: white;
  padding: 0 25px 35px 25px;
}

.block-logo-footer {
  padding: 20px 0 20px 0;
  &__logo {
    color: white;
    font-size: 20px;
  }
}

.block-footer {
  &__icon {
    width: 25px;
  }
  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    height: auto;
    grid-gap: 10px;
    grid-template-areas:
      "puce1"
      "puce2"
      "puce3"
      "puce4";
    & > #puce1 {
      grid-area: puce1;
    }
    & > #puce2 {
      grid-area: puce2;
    }
    & > #puce3 {
      grid-area: puce3;
    }
    & > #puce4 {
      grid-area: puce4;
    }
  }
  &__puce {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__link {
    color: white;
  }
}

@media screen and (min-width: 768px) {
  .block-footer {
    &__list {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
        "puce1 puce3"
        "puce2 puce4";
    }
  }
}

@media screen and (min-width: 1440px) {
  .block-footer {
    &__list {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      grid-template-areas: "puce1 puce2 puce3 puce4";
    }
  }
}
