@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0%;
}

ul {
  margin: 0;
  padding: 0%;
}

h1,
h2 {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: bold;
}

h3,
p,
a {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: initial;
}

.block-location__location {
  font-weight: bold;
}

.block-reservation__text {
  font-size: 18px;
}
.block-reservation__btn {
  font-size: 18px;
}

.block-fonctionnement__text {
  font-weight: bold;
}

.block-menu__titre {
  font-size: 30px;
  font-weight: normal;
}
.block-menu__choix > h2 {
  font-size: 20px;
  font-weight: normal;
}
.block-menu__plats > h3 {
  font-weight: bold;
  font-size: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.block-menu__plats > p {
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.block-menu__prix > p {
  font-size: 18px;
}
.block-menu__btn {
  font-size: 18px;
}

.block-logo-footer__logo {
  font-size: 25px;
  font-family: "Shrikhand", sans-serif;
}

footer {
  background-color: #353535;
  color: white;
  padding: 0 25px 35px 25px;
}

.block-logo-footer {
  padding: 20px 0 20px 0;
}
.block-logo-footer__logo {
  color: white;
  font-size: 20px;
}

.block-footer__icon {
  width: 25px;
}
.block-footer__list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  height: auto;
  grid-gap: 10px;
  grid-template-areas: "puce1" "puce2" "puce3" "puce4";
}
.block-footer__list > #puce1 {
  grid-area: puce1;
}
.block-footer__list > #puce2 {
  grid-area: puce2;
}
.block-footer__list > #puce3 {
  grid-area: puce3;
}
.block-footer__list > #puce4 {
  grid-area: puce4;
}
.block-footer__puce {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.block-footer__link {
  color: white;
}

@media screen and (min-width: 768px) {
  .block-footer__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "puce1 puce3" "puce2 puce4";
  }
}
@media screen and (min-width: 1440px) {
  .block-footer__list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "puce1 puce2 puce3 puce4";
  }
}
.block-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.block-logo__logo {
  margin: 25px 0 15px 0;
  height: 30px;
}

.block-loader {
  height: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  visibility: hidden;
  animation: 2500ms ease 0ms both disappear;
}
.block-loader__loader {
  background: linear-gradient(to right, #9356dc 0%, #ff70da 50%, #99e2d0 90%);
  mask: radial-gradient(farthest-side, transparent calc(100% - 10px), #fff 0);
  border-radius: 100%;
  position: fixed;
  inset: calc(50% - 80px);
  animation: 2000ms linear 0ms both loading;
}
@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes disappear {
  0% {
    visibility: visible;
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.block-location {
  background-color: #eaeaea;
}
.block-location__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.block-location__location {
  white-space: nowrap;
  margin: 15px 20px 15px 15px;
}

.block-reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 25px 50px 25px;
  background-color: #f6f6f6;
}
.block-reservation__title {
  max-width: 250px;
}
.block-reservation__text {
  margin: 10px 0 30px 0;
  color: rgba(129, 129, 129, 0.89);
}
.block-reservation__btn {
  margin: 0;
  color: white;
  padding: 15px 0;
  width: 240px;
  border-radius: 200px;
  background: linear-gradient(177deg, #ff70da 0%, #9356dc 100%);
  border: none;
  box-shadow: 0 0 8px 0 #2b2a2a59;
  height: auto;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.block-reservation__btn:hover::after {
  opacity: 1;
}
.block-reservation__btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 200px;
  background: linear-gradient(177deg, #ff8ae1 0%, #a16be0 100%);
  box-shadow: 0 0 8px 0 #2b2a2a62;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

.block-fonctionnement {
  padding: 0 25px 60px 25px;
  position: relative;
}
.block-fonctionnement__title {
  padding: 50px 0 40px 0;
}
.block-fonctionnement--grid {
  padding-left: 15px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  height: auto;
  grid-gap: 40px;
  grid-template-areas: "list1" "list2" "list3";
}
.block-fonctionnement--grid > #list1 {
  grid-area: list1;
}
.block-fonctionnement--grid > #list2 {
  grid-area: list2;
}
.block-fonctionnement--grid > #list3 {
  grid-area: list3;
}
.block-fonctionnement__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  border-radius: 15px;
  max-width: 280px;
  background-color: #f6f6f6;
  box-shadow: 0 0 5px 0 #2b2a2a3b;
}
.block-fonctionnement__list:hover i {
  color: #9356dc;
}
.block-fonctionnement__number {
  background-color: #9356dc;
  color: white;
  padding: 3px 8px 3px 8px;
  border-radius: 500px;
  position: absolute;
  transform: translateX(-50%);
}
.block-fonctionnement__icon {
  margin: 0 15px 0 25px;
  color: #7e7e7e;
}
.block-fonctionnement__text {
  margin: 10px 0 10px 0;
}

.block-restaurants {
  background-color: #f6f6f6;
  padding: 40px 25px 60px 25px;
}
.block-restaurants__title {
  padding: 0 0 25px 0;
}
.block-restaurants--grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  height: auto;
  grid-gap: 40px;
  grid-template-areas: "restau1" "restau2" "restau3" "restau4";
}
.block-restaurants--grid > #restau1 {
  grid-area: restau1;
}
.block-restaurants--grid > #restau2 {
  grid-area: restau2;
}
.block-restaurants--grid > #restau3 {
  grid-area: restau3;
}
.block-restaurants--grid > #restau4 {
  grid-area: restau4;
}
.block-restaurants__restau {
  position: relative;
}
.block-restaurants__block-img {
  height: 190px;
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.block-restaurants__new {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #99e2d0;
  color: #1b6150;
  padding: 10px 20px;
}
.block-restaurants__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.block-restaurants__caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 0px 20px 0px #1d1d1d2e;
  padding: 20px;
}
.block-restaurants__block-coeur {
  width: 30px;
  height: 30px;
}
.block-restaurants__coeur {
  overflow: visible;
}
.block-restaurants__coeur--vide {
  width: 30px;
  position: absolute;
  z-index: 1;
  stroke: black;
  stroke-width: 20;
  fill: transparent;
  transition: opacity 1500ms;
}
.block-restaurants__coeur--vide:hover {
  opacity: 0;
}
.block-restaurants__coeur--vide:hover + .block-restaurants__coeur--plein {
  opacity: 1;
  animation: 1500ms ease-in-out 0ms forwards fill-heart;
}
.block-restaurants__coeur--vide:hover + .block-menu__coeur--plein {
  opacity: 1;
  animation: 1500ms ease-in-out 0ms forwards fill-heart;
}
.block-restaurants__coeur--plein {
  width: 30px;
  position: absolute;
  opacity: 0;
  z-index: 0;
  stroke: transparent;
  stroke-width: 20;
  transition: opacity 1500ms;
  fill: url(#gradientheart);
}
@keyframes fill-heart {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (min-width: 768px) {
  .block-fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .block-fonctionnement__list {
    min-width: 280px;
  }
}
@media screen and (min-width: 1024px) {
  .block-fonctionnement--grid {
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: 1fr;
    grid-gap: 40px;
    grid-template-areas: "list1 list2 list3";
  }

  .block-restaurants--grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "restau1 restau2" "restau3 restau4";
  }
}
@media screen and (min-width: 1440px) {
  .block-fonctionnement--grid {
    grid-gap: 100px;
  }
}
.block-logo__icon {
  position: absolute;
  left: 20px;
  top: 42%;
  font-size: 24px;
}

.background-restau {
  width: 100%;
  height: 300px;
}
.background-restau__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.block-menu {
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  padding: 0 15px 0 15px;
  margin-top: -50px;
  position: relative;
}
.block-menu__container #card1 {
  animation-delay: 150ms;
}
.block-menu__container #card2 {
  animation-delay: 300ms;
}
.block-menu__container #card3 {
  animation-delay: 450ms;
}
.block-menu__container #card4 {
  animation-delay: 600ms;
}
.block-menu__container #card5 {
  animation-delay: 750ms;
}
.block-menu__container #card6 {
  animation-delay: 900ms;
}
.block-menu__container #card7 {
  animation-delay: 1050ms;
}
.block-menu__container #card8 {
  animation-delay: 1200ms;
}
.block-menu__container #card9 {
  animation-delay: 1350ms;
}
.block-menu__container #card10 {
  animation-delay: 1500ms;
}
.block-menu__restau {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0 10px 0;
}
.block-menu--grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  height: auto;
  grid-template-areas: "entrees" "plats" "desserts";
}
.block-menu--grid > #entrees {
  grid-area: entrees;
}
.block-menu--grid > #plats {
  grid-area: plats;
}
.block-menu--grid > #desserts {
  grid-area: desserts;
}
.block-menu__titre {
  font-family: "Shrikhand", sans-serif;
}
.block-menu__block-coeur {
  width: 30px;
  height: 30px;
}
.block-menu__coeur {
  overflow: visible;
}
.block-menu__coeur--vide {
  width: 30px;
  position: absolute;
  z-index: 1;
  stroke: black;
  stroke-width: 20;
  fill: transparent;
  transition: opacity 1500ms;
}
.block-menu__coeur--vide:hover {
  opacity: 0;
}
.block-menu__coeur--vide:hover + .block-restaurants__coeur--plein {
  opacity: 1;
  animation: 1500ms ease-in-out 0ms forwards fill-heart;
}
.block-menu__coeur--vide:hover + .block-menu__coeur--plein {
  opacity: 1;
  animation: 1500ms ease-in-out 0ms forwards fill-heart;
}
.block-menu__coeur--plein {
  width: 30px;
  position: absolute;
  opacity: 0;
  z-index: 0;
  stroke: transparent;
  stroke-width: 20;
  transition: opacity 1500ms;
  fill: url(#gradientheart);
}
@keyframes fill-heart {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.block-menu__choix {
  display: grid;
}
.block-menu__choix > h2 {
  margin: 20px 0 18px 0;
}
.block-menu__choix--underline {
  text-decoration: underline 4px;
  text-decoration-color: #99e2d0;
  text-underline-offset: 8px;
}
.block-menu__validation {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  align-items: flex-end;
  border-radius: 20px 20px 20px 20px;
  margin: 8px 0;
  box-shadow: 0px 0px 20px 0px #1d1d1d2e;
  overflow: hidden;
  cursor: pointer;
}
.block-menu__validation--apparition {
  animation: 1000ms ease 0ms both appear;
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.block-menu__validation:hover .block-menu__prix {
  padding-right: 75px;
}
.block-menu__validation:hover .block-menu__valid {
  transform: translateX(0);
}
.block-menu__validation:hover .block-menu__valid i {
  animation: 750ms ease 0ms both rotate;
}
.block-menu__plats {
  overflow: hidden;
  white-space: nowrap;
  padding: 15px 0 15px 15px;
}
.block-menu__prix {
  font-weight: bold;
  padding: 0 25px 15px 6px;
  transition: 750ms ease;
}
.block-menu__valid {
  position: absolute;
  right: 0px;
  padding: 0 20px;
  height: 100%;
  background-color: #99e2d0;
  transition: 750ms ease;
  transform: translateX(64px);
  transform-origin: right 50%;
}
.block-menu__valid i {
  color: white;
  margin-top: 38px;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.block-menu__container-btn {
  display: flex;
  justify-content: center;
  padding: 30px 0 50px 0;
}
.block-menu__btn {
  margin: 0;
  color: white;
  padding: 15px 0;
  width: 240px;
  border-radius: 200px;
  background: linear-gradient(177deg, #ff70da 0%, #9356dc 100%);
  border: none;
  box-shadow: 0 0 8px 0 #2b2a2a59;
  height: auto;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.block-menu__btn:hover::after {
  opacity: 1;
}
.block-menu__btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 200px;
  background: linear-gradient(177deg, #ff8ae1 0%, #a16be0 100%);
  box-shadow: 0 0 8px 0 #2b2a2a62;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

@media screen and (min-width: 1024px) {
  .block-menu {
    max-width: 768px;
    margin: -50px auto 0 auto;
  }
}
@media screen and (min-width: 1440px) {
  .block-menu {
    max-width: 1980px;
    margin: -50px auto 0 auto;
  }
  .block-menu--grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 30px;
    grid-template-areas: "entrees plats desserts";
  }
}

/*# sourceMappingURL=style.css.map */
