@mixin btn-bicolor {
  margin: 0;
  color: white;
  padding: 15px 0;
  width: 240px;
  border-radius: 200px;
  background: linear-gradient(
    177deg,
    ($secondary-color) 0%,
    ($primary-color) 100%
  );
  border: none;
  box-shadow: 0 0 8px 0 #2b2a2a59;
  height: auto;
  position: relative;
  cursor: pointer;
  z-index: 1;
  &:hover {
    &::after {
      opacity: 1;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 200px;
    background: linear-gradient(
      177deg,
      lighten($secondary-color, 5%) 0%,
      lighten($primary-color, 5%) 100%
    );
    box-shadow: 0 0 8px 0 #2b2a2a62;
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms;
  }
}
