@mixin resteau-card {
  &__restau {
    position: relative;
  }
  &__block-img {
    height: 190px;
    width: 100%;
    border-radius: 20px 20px 0 0;
  }
  &__new {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: $tertiary-color;
    color: #1b6150;
    padding: 10px 20px;
  }
  &__img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 20px 20px 0 0;
  }
  &__caption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 0px 20px 0px #1d1d1d2e;
    padding: 20px;
  }
  &__block-coeur {
    width: 30px;
    height: 30px;
  }
  &__coeur {
    @include heart;
  }
}

@mixin menu-card {
  &__validation {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    align-items: flex-end;
    border-radius: 20px 20px 20px 20px;
    margin: 8px 0;
    box-shadow: 0px 0px 20px 0px #1d1d1d2e;
    overflow: hidden;
    cursor: pointer;
    &--apparition {
      animation: 1000ms ease 0ms both appear;
      @include keyappear;
    }
    &:hover {
      & .block-menu__prix {
        padding-right: 75px;
      }
      & .block-menu__valid {
        transform: translateX(0);
        & i {
          animation: 750ms ease 0ms both rotate;
        }
      }
    }
  }
  &__plats {
    overflow: hidden;
    white-space: nowrap;
    padding: 15px 0 15px 15px;
  }
  &__prix {
    font-weight: bold;
    padding: 0 25px 15px 6px;
    transition: 750ms ease;
  }
  &__valid {
    position: absolute;
    right: 0px;
    padding: 0 20px;
    height: 100%;
    background-color: $tertiary-color;
    transition: 750ms ease;
    transform: translateX(64px);
    transform-origin: right 50%;
    & i {
      color: white;
      margin-top: 38px;
      @include keyrotate;
    }
  }
}
