@mixin keyappear {
  @keyframes appear {
    0% {
      opacity: 0;
      transform: translateY(20%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@mixin keyrotate {
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@mixin keyloading {
  @keyframes loading {
    100% {
      transform: rotate(360deg);
    }
  }
}

@mixin keydisappear {
  @keyframes disappear {
    0% {
      visibility: visible;
      opacity: 1;
    }
    80% {
      opacity: 0.9;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
}

@mixin keyfillheart {
  @keyframes fill-heart {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
}
